name: test

permissions:
  packages: write

on:
  push:
    branches: [ '*' ]
  release:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      USERNAME: ${{ github.actor }}
      CMAKE_MODULE_PATH: C:/vcpkg/ports/vcpkg-cmake
      CMAKE_TOOLCHAIN_FILE: C:/vcpkg/scripts/buildsystems/vcpkg.cmake
      VCPKG_ROOT: C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/vcpkg

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: setup
      run: |
        "${{ env.VCPKG_ROOT }}/bootstrap-vcpkg.bat"

    - name: check
      shell: bash
      run: |
        find C:/ -name vcpkg-cmake-configure -a -print
        
    - name: Build
      run: |
        vcpkg install vcpkg-cmake hamlib --overlay-ports=./ports/hamlib
