name: test

permissions:
  packages: write

on:
  push:
    branches: [ '*' ]
  release:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      USERNAME: ${{ github.actor }}
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Bootstrap vcpkg
      run: "${{ github.workspace }}/vcpkg/bootstrap-vcpkg.sh"
      shell: bash
        
    - name: Build
      run: |
        vcpkg install vcpkg-cmake hamlib --overlay-ports=./ports/hamlib
