name: test

permissions:
  packages: write

on:
  push:
    branches: [ '*' ]
  release:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      USERNAME: ${{ github.actor }}
      CMAKE_MODULE_PATH: C:/vcpkg/ports/vcpkg-cmake
      CMAKE_TOOLCHAIN_FILE: C:/vcpkg/scripts/buildsystems/vcpkg.cmake

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      shell: bash
      run: |
        vcpkg install vcpkg-cmake hamlib --overlay-ports=./ports/hamlib

